
<br><br><br><br><br>
<div class="container">
    <div class="section">
        <div class="center-btn">
            <%= image_tag("mainlogo.png", :class => "logocen")%>
        </div>
        <h1 class="text-center">아직 준비중인 페이지 입니다.</h1>
        <br>
        <h4 class="text-center">조금만 기다려주세요♡</h4>
    </div>
<br><br><br>
</div>

<style>
    .section{
        min-height:1000px;
    }
    .logocen{
        margin-bottom:30px;
        width:270px;
    }
</style>