<div class="container">
    <br><br>  
            <h1 class="text-center">MY PAGE</h1>
            <br>
            <p class="text-center"><%=@user.email%></p>
            <h2 class="text-center">이름은 <%=@user.name%></h2>
            <div class="text-center">
                <%if @user.image %>
                <img src="<%=@user.image%>" class="profileimage img-fluid">
                <%else%>
                <img src="<%=@user.avatar%>" class="profileimage img-fluid">
                <%end%>
            </div>
</div>

<style>
    .profileimage{
        width:150px;
    }
</style>