        <section class="rulebanner" id="rulebanner">
            <div class="container">
                <h2 class="sectitle">개인정보취급방침</h2>
            </div>    
        </section>
        <section class="rule">    
        
        </section>


<style>
.rule{
    min-height:900px;
}
.rulebanner{
    height:90px;
    background-color:#363738;
}
.sectitle{
    padding-top:29px;
    font-weight:bold;
    color:white;
}
</style>