.btnban {
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  color: #ffffff;
  font-size: 16px;
  background: #2caff5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnban:hover {
  background: #5ccbff;
  text-decoration: none;
  color:white;
}
