<div class="fonter">
  <div class="ban2 section2" id="ban2">
    <div class="container">
      <header class="section__heade">
        <h2 class="section__title mb-3">
          <br>
          <span class="section__category mb-2" lang="en" style="margin-top:30px;">About</span>
          한국철봉
        </h2>
      </header>
      <div class="about__data d-flex justify-content-center mb-3">

        <p class="about__datum px-4 px-sm-5">
          <strong class="about__number text-primary" id="about__number">한국철봉은 철봉운동을 하고자 하는 모든 사람들에게 운동 정보를 제공하면서 <br> 사용자 간 정보공유와 소통을 도와주는 종합 운동 플랫폼입니다.
</strong>
        </p>
<br>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 push-md-1 push-lg-2">
          <p class="section__text">
-          </p>
        </div>
      </div>
    </div>
    </div>
  <!-- // About -->

  <!-- Main -->
  <main class="main">
  	<div class="container">
  		<section class="posts">
  			<h2 class="sr-only">소개페이지</h2>
  			<ul class="post__list">
  			  <div class="row " style="margin-bottom:60px;">
    	    <div class="col-12 col-md-4 push-md-8 arrangement">
    	      <%= image_tag("introwhere.png", :class => "img-fluid introimage") %>
    	    </div>
  			    <div class="col-12 col-md-8 pull-md-4">
    				<li class="post__item">
    						<a class="">
    						  <h1 class="post__title" style="padding-top:50px; text-align: center;">
                    “내 근처에 철봉이 어디있을까?”
                  </h1>
                  <p class="post__title_2" style="text-align: center;">
                    한국철봉은 <em>‘철봉찾기’</em>로 한국의 철봉 위치와 그에 대한 상세한 정보를 제공합니다.
                    <br>한강을 시작으로 모든 철봉들을 에디터들이 직접 사용하고 후기를 작성합니다.
                  </p>
    						</a>
    				</li>
    				</div>    	    
  				</div>
  				
  			  <div class="row" style="margin-bottom:60px;">
    	    <div class="col-12 col-md-4 arrangement">
    	      <%= image_tag("introexerhow2.png", :class => "img-fluid introimage") %>
    	    </div>  			    
  			    <div class="col-12 col-md-8">
    				<li class="post__item">
    						<a class="">
        						  <h1 class="post__title" style="padding-top:50px; text-align: center;">
                         “운동, 어떻게 해야하지?”
                      </h1>
                    <p class="post__title_2" style="text-align: center;">
                      철봉 운동 초보자부터 전문가까지 모두를 위한 한국철봉은 <em>‘국봉칼럼’</em>으로 <br>다양한 철봉 운동 영상과 양질의 운동 정보를 전달하고, 동기부여 또한 심어드립니다.
                    </p>
    						</a>
    				</li>
    				</div>
  				</div>
  				
  			  <div class="row" style="margin-bottom:60px;">
    	    <div class="col-12 col-md-4 push-md-8 arrangement">
    	      <%= image_tag("introexerhow.png", :class => "img-fluid introimage") %>
    	    </div>  	  			    
  			    <div class="col-12 col-md-8 pull-md-4">
    				<li class="post__item">
    						<a class="">
                <h1 class="post__title" style="padding-top:50px; text-align: center;">
                “좋은 운동법이 있다면?”
              </h1>
                <p class="post__title_2" style="text-align: center;">
                  <em>‘국봉톡’</em>에서는 한국철봉의 회원들과 운동정보도 공유하고, 운동 파트너도 구할 수 있습니다. <br>모르는 것이 있다면 물어보고, 자랑하고 싶은 것이 있다면 자랑해도 좋습니다. <br>국봉톡 게시판에서 한 걸음 더 성장하세요.
                </p>
    						</a>
    				</li>
    				</div>  			    
  				</div>
  				
  			  <div class="row" style="margin-bottom:60px;">
  			    
    	    <div class="col-12 col-md-4 arrangement">
    	      <%= image_tag("introtommo.png", :class => "img-fluid introimage") %>
    	    </div>
  			    <div class="col-12 col-md-8">
    				<li class="post__item">
    						<a class="">
                <h1 class="post__title" style="padding-top:50px; text-align: center">
                  “오늘보다 더 나은 내일의 나!”
                </h1>
                <p class="post__title_2" style="text-align: center;">
                  모든 한국철봉의 유저들은 자신만의 <em>‘운동일지’</em>를 가지고 있습니다. <br> 오늘 한 운동을 기록하며 자신의 운동일지를 꾸며보세요.
                </p>
    						</a>
    				</li>
    				</div>    	    
  				</div>
  			</ul>
  		</section>
  	</div>
  </main>
  
  
 <style>

.conetainer1{
  max-width:700px;
}
.arrangement{
  display: flex;
  justify-content: center;
}

.ban2{
background-image: url('/assets/introban.png')
}
#ban2{
    height:430px;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
    margin-bottom:60px;
} 

@media screen and (min-width: 880px) {
#about__number{
  display: block;
  font-family: 'NanumSquare', sans-serif;
  font-size: 1.333rem;
  line-height: 1.37;
  
}
}
.about__number{
  display: block;
  font-family: 'NanumSquare', sans-serif;
  font-size: 1.1rem;
  line-height: 1.37;
}
.fonter{
  font-family: 'NanumSquare', sans-serif;
  letter-spacing: -0.02em;
  color: #333;
}

.introimage{
  height:220px;
}
button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: #cccccc !important;
}

.bg-primary {
  background-color: #ff9e1e !important;
}

a.bg-primary:focus,
a.bg-primary:hover {
  background-color: #f38c04 !important;
}

/*[class="col"] === .col*/



ul, ol {
	list-style-type: none;
	padding: 0;
}

/* Section Commons */
.section {
  padding: 120px 0;
  text-align: center;
}
.section2{
  text-align:center;
}
.section__title {
  font-size: 3.33333333rem;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: -0.02em;
  color:white;
}

.section__category {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.27em;
  text-transform: uppercase;
}

/* About */

.about__datum {
  border-right: 2px solid rgba(153,153,153,.5);
  border-left: 2px solid rgba(153,153,153,.5);
}

/* .about__datum:last-child === .about__datum:nth-child(3) */
/* .about__datum:last-child {
  border-right: none;
}*/




/* Main / Post */
.main {
	padding-bottom: 100px;
}
.post__item:nth-child(2n) {
	text-align: right;
}
.post__title {
	font-family: 'NanumSquare', sans-serif;
	font-size: 1.5rem;
	line-height: 1.25;
}
.post__title_2 {
	font-family: 'NanumSquare', sans-serif;
	font-size: 1rem;
	line-height: 1.25;
}


.post__text {
	margin-bottom: 0;
	line-height: 1.6;
}

.post__title_2 em {
	font-weight: 700;
	font-style: normal;
}

.post__date {
	font-family: 'NanumSquare', sans-serif;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 2;
	color: #8d8d8d;
}
     
 </style> 
  