<div class="fonter">
  <section id="about" class="section">
    <div class="container">
      <header class="section__header">
        <h2 class="section__title mb-3">
          <span class="section__category mb-2" lang="en">About</span>
          한국철봉
        </h2>
      </header>
      <div class="about__data d-flex justify-content-center mb-3">

        <p class="about__datum px-4 px-sm-5">
          <strong class="about__number text-primary">한국철봉은 철봉운동을 하고자 하는 모든 사람들에게 운동 정보를 제공하면서 <br> 사용자 간 정보공유와 소통을 도와주는 종합 운동 플랫폼입니다.
</strong>
        </p>

      </div>
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 push-md-1 push-lg-2">
          <p class="section__text">
-          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- // About -->

  <!-- Main -->
  <main class="main">
  	<div class="container">
  		<section class="posts">
  			<h2 class="sr-only">시팔이의 시</h2>
  			<ul class="post__list">
  				<li class="post__item mb-5">
  					<div class="row">
  						<a href="#" class="d-block col-12 col-md-10 col-lg-6 push-md-1 push-lg-2 py-4">
  							<h1 class="post__title mb-4">
                  “내 근처에 철봉이 어디있을까?”
                </h1>
                <p class="post__title_2 mb-4">
                  한국철봉은 <em>‘철봉찾기’</em>로 한국의 철봉 위치와 그에 대한 상세한 정보를 제공합니다.
                  <br>한강을 시작으로 모든 철봉들을 에디터들이 직접 사용하고 후기를 작성합니다.
                </p>

  						</a>
  					</div>
  				</li>
  				<li class="post__item mb-5">
  					<div class="row">
  						<a href="#" class="d-block col-12 col-md-10 col-lg-6 push-md-1 push-lg-4 py-4">
                <h1 class="post__title mb-4">
                  “운동, 어떻게 해야하지?”
                </h1>
                <p class="post__title_2 mb-4">
                  철봉 운동 초보자부터 전문가까지 모두를 위한 한국철봉은 <em>‘국봉칼럼’</em>으로 <br>다양한 철봉 운동 영상과 양질의 운동 정보를 전달하고, 동기부여 또한 심어드립니다.

                </p>
  						</a>
  					</div>
  				</li><li class="post__item mb-5">
  					<div class="row">
  						<a href="#" class="d-block col-12 col-md-10 col-lg-6 push-md-1 push-lg-2 py-4">
                <h1 class="post__title mb-4">
                “좋은 운동법이 있다면?”
              </h1>
                <p class="post__title_2 mb-4">
                  <em>‘국봉톡’</em>에서는 한국철봉의 회원들과 운동정보도 공유하고, 운동 파트너도 구할 수 있습니다. 모르는 것이 있다면 물어보고, 자랑하고 싶은 것이 있다면 자랑해도 좋습니다. <br>국봉톡 게시판에서 한 걸음 더 성장하세요.

                </p>
  						</a>
  					</div>
  				</li>
  				<li class="post__item">
  					<div class="row">
  						<a href="#" class="d-block col-12 col-md-10 col-lg-6 push-md-1 push-lg-4 py-4">
                <h1 class="post__title mb-4">
                  “오늘보다 더 나은 내일의 나!”
                </h1>
                <p class="post__title_2 mb-4">
                  모든 한국철봉의 유저들은 자신만의 <em>‘운동일지’</em>를 가지고 있습니다. <br> 오늘 한 운동을 기록하며 자신의 운동일지를 꾸며보세요.
                </p>
  						</a>
  					</div>
  				</li>
  			</ul>
  		</section>
  	</div>
  </main>
  
  
 <style>
/* Common Settings */

.fonter{
  font-family: 'NanumSquare', sans-serif;
  letter-spacing: -0.02em;
  color: #333;
}


button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: #0275d8 !important;
}

.bg-primary {
  background-color: #ff9e1e !important;
}

a.bg-primary:focus,
a.bg-primary:hover {
  background-color: #f38c04 !important;
}

/*[class="col"] === .col*/



ul, ol {
	list-style-type: none;
	padding: 0;
}

/* Section Commons */
.section {
  padding: 120px 0;
  text-align: center;
}

.section__title {
  font-size: 3.33333333rem;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: -0.02em;

}

.section__category {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.27em;
  text-transform: uppercase;
}

/* About */

.about__datum {
  border-right: 2px solid rgba(153,153,153,.5);
  border-left: 2px solid rgba(153,153,153,.5);
}

/* .about__datum:last-child === .about__datum:nth-child(3) */
/* .about__datum:last-child {
  border-right: none;
}*/

.about__number {
  display: block;
  font-family: 'NanumSquare', sans-serif;
  font-size: 1.333rem;
  line-height: 1.37;
}


/* Main / Post */
.main {
	padding-bottom: 100px;
}
.post__item:nth-child(2n) {
	text-align: right;
}
.post__title {
	font-family: 'NanumSquare', sans-serif;
	font-size: 1.5rem;
	line-height: 1.25;
}
.post__title_2 {
	font-family: 'NanumSquare', sans-serif;
	font-size: 1rem;
	line-height: 1.25;
}


.post__text {
	margin-bottom: 0;
	line-height: 1.6;
}

.post__title_2 em {
	font-weight: 700;
	font-style: normal;
}

.post__date {
	font-family: 'NanumSquare', sans-serif;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 2;
	color: #8d8d8d;
}
     
 </style> 
  